<template name="abiuiWrap">
    {{#if abi}}
        {{> abiui data}}
    {{/if}}
</template>


<template name="abiui">
    <div class="container-fluid">
        <div class="row flex">
            <div class="halffit">
                <div class="abiui" id="abiui_{{id}}"></div>
            </div>
            {{#if events}}
                <div class="halffit">
                    <div class="col-sm-10">
                        {{> eventlog data}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
