.right-block {
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.abi_label {
    padding-top: 7px;
}

.btn-txn {
    background-color: #E9DEDE;
    border-color: #E9DEDE;
}

.btn-call {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}

.abi {
    margin-left: 0;
    border-top: 1px solid #ab9898;
}

.halffit {
    width: 50%;
}

.flex {
    display: flex;
}
