html,body, #paper{
    margin: 0px;
    width: 100%;
    height: 100%;
}

#jstree_div {
    position: relative;

}

/* port styling */
.available-magnet {
fill: grey;
}

/* element styling */
.available-cell rect {
stroke-dasharray: 5, 2;
}
