<template name="generalModal">
    <div id="generalModal_{{id}}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {{#if showSave}}
                        <button type="button" class="btn btn-primary save">Save</button>
                    {{/if}}
                    {{#if titleTemplate}}
                        {{{titleTemplate}}}
                    {{else}}
                        <label>{{title}}</label>
                    {{/if}}
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-body">
                    {{> Template.dynamic template=template data=data}}
                </div>
            </div>
        </div>
    </div>
</template>
