/* swiper */

html, body, #__blaze-root, .swiper-container {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
.swiper-container {
    width: 100%;
    height: 500;
    padding-top: 1px;
}
.swiper-slide {
    width: 75%;
}
.swiper-slide:nth-child(2n), .swiper-slide:nth-child(4n) {
    width: 25%;
    overflow-y: scroll;
}
.swiper-scrollbar {
    display: none;
}

.grey {
    background-color: #ccc;
}

.scrolly {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

#pipetreedata {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
