<template name="main">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide no-swipe">
                <button type="button" class="btn btn-default addContract">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                {{> generalModal modaldata}}
                {{> viewTags data}}
                {{> viewByTag data}}
                <div id="pipetreedata"><button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                </button></div>
                {{> generalModal treedata}}
            </div>
            <div class="swiper-slide no-swipe grey">
                {{> pipetree pipetreedata}}
            </div>
            <div class="swiper-slide no-swipe">
                {{> pipecanvas data}}
            </div>
            <div class="swiper-slide no-swipe grey">
                {{> pipecodepreview data}}
            </div>

        </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>

    </div>
</template>

<template name="abiarray">
    <textarea id="abiarray" class="fit">{{data}}</textarea>
</template>
