<template name='viewByTag'>
    {{#each contracts}}
        <div style="padding-top: 10px;">
            <div class="btn-group" role="group" aria-label="...">
                <button class='btn btn-default deploy' data-id='{{_id}}'>deploy</button>
                <button class='btn btn-default pipe' data-id='{{_id}}'>pipe</button>
            </div>
            <!-- {{devdoc.author}}.{{devdoc.dev}} {{devdoc.title}} -->
            <label>{{name}}</label>

        </div>
    {{/each}}
</template>
