<template name='viewByTag'>
    {{#each contracts}}
        <div style="padding-top: 10px;">
            <div class="btn-group" role="group" aria-label="...">
                <button class='btn btn-default abi' data-id='{{_id}}'>abi</button>
                <button class='btn btn-default pipe' data-id='{{_id}}'>pipe</button>
            </div>
            <label data-toggle="popover" title="{{name}}" data-content="{{popoverContent}}">{{name}}</label>
            {{> generalModal modaldata}}
        </div>
    {{/each}}
</template>
